@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    padding: 15px 30px;
    background-color: rgb(74, 67, 67);
}
.logo{
    padding: 10px;
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    
}
hr{
    border-top: 2px solid yellow;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.site-menu li{
    display: inline-block;
 
}

.site-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    margin:10px;
    
   
}

.site-menu li a:hover{
    background-color: white;
    transition: all 0.5s ease-in-out;
    color: #000;
}

/* header area end */

/* Banner are start */
.banner{
    background-image: url("./Banner.jpg");
    background-size: cover;
     background-position: center;
    height: 81vh;
   position: relative;
}

.banner-btn{
    position: absolute;
    top:85%;
    left:50%;
    transform:  translateX(-50%);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: transparent;
border: 2px solid blue;
transition: all 0.5s ease-in-out;
}
.banner-btn:hover{
    background-color: yellow;
    width: 120px;
}

/* banner area end */
/* our specilaity start */

.main{
    padding:60px  40px;
    text-align: center;
    background-color: rgb(61, 58, 58);
    color: white;
}
.flavours{
    display: flex;
    justify-content: space-between;

}
.flv{
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 10px 40px;
    background-color: teal;
    color: white;
    position: relative;
    border-radius: 10px;
}
.flv p{
    color: black;
}
.flv img{
    width: 380px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 360px;
}

/* our specilaity end */

/* About Us Start */
.about-us{
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgb(28, 96, 130);
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

}
.content{
    height: 400px;
    /* background-color :blue; */
    width:60%;
    padding: 60px 10px;
    text-align: center;
    font-size: 23px;
   
}
.gif{
    width: 40%;
    height: 400px;
    background-color: aqua;
}
.gif img{
    width: 100%;
    height: 400px;
}
.fab{
    padding: 5px;
}

.fab:hover{
    font-size: 28px;
}
/* About Us End */

/*Order Section!*/
.order{

background-color: red;
display: flex;
align-items: center;
justify-content: center;
   padding: 40px 80px;
}
.order-form{
    width: 500px;
    height: 500px;
   background-color: aqua;
   padding: 20px;
   text-align: center;
}
.order-form label{ 
    text-align: center;
    padding: 10px;
    font-size: 25px;

}
.order-form select{
    padding: 20px;
    margin:10px;
    font-size: 20px;
    background-color:rgb(52, 194, 64) ;
    border: 4px solid green;
}
.order-form option{
    color: #fff;
    background-color: rgba(29, 52, 52, 0.809);
}

.order-form button{
width: 120px;
padding:10px;
background-color: transparent;
border: 2px solid #000;
 margin: 40px; 
}
/*Order Section End*/
/* contact form start*/
.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.flex-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-1 {
    padding: 50px 10px;
    background-color: #262626;
    /* position: relative; */
    margin-right: 570px;
    z-index: 100;
    margin-bottom: 50px;
}

.flex-item-2 {
    background-color: #175b78;
    padding: 65px 200px;
    position: absolute;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="text"],
input[type="Email"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 0;
    border: 1px solid #cdcdcd;
    outline: none;
    resize: none;
    margin-left: 30px;
}

textarea {
    resize: none;
    padding: 0 10px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 30px;
    margin-bottom: 15px;
}
textarea ul,
li {
    padding: 10px;
    margin: 0;
    text-align: left;
    color: white;
    list-style: none;
    display: block;
}

.content h1 {
    padding: 0px;
    margin-top: -50px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: white;
}

.content h3 {
    text-align: center;
    margin: 10px;
    margin-bottom: 0;
}

input[type="submit"] {
    position: relative;
    width: 100%;
    display: block;
    background: #262626;
    color: #fff;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    margin-left: 30px;
}

input[type="submit"]:hover {
    background: #171515;
}

input[type="submit"]:focus {
    background: #171515;
}




.hover-effect {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    box-sizing: border-box;
}

.css-hover {
    display: flex;
}

.css-hover li {
    position: relative;
    display: block;
    color: #666;
    font-size: 25px;
    height: 50px;
    width: 50px;
    background: #171515;
    line-height: 48px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

.css-hover li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    /* background: #d35400; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    Z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}

.css-hover li:nth-child(1):before {
    background: #4267b2;
}

.css-hover li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}

.css-hover li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267B2;
}

.css-hover li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #E1306c;
}

.css-hover li:nth-child(1):hover {
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}

.css-hover li:nth-child(2):hover {
    color: #E1306c;
    box-shadow: 0 0 15px #E1306c;
    text-shadow: 0 0 15px #E1306c;
}
/*Contact form end*/
/*Footer*/
footer{
    width:auto;
    
 
    background-color: black;
    height:auto;
    padding:20px;
    
}
.footer{
    display:flex;
    justify-content:space-around;
    position: relative;
}

.text-box{
color: white;
padding:20px;
/* background-color: greenyellow;  */
width:400px;
text-align: center;
font-size: 22px;
line-height:1.4em; 
}

.box3{
    width:220px;
    line-height: 2em;
}
footer a{
    text-decoration: none;
    color: rgb(143, 132, 132);
}

footer a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
footer ul{
    list-style: none;
}
footer .box3 li{
    display: inline-block; 
}

  footer .box2 li {
font-size: 15px;
} 

footer input[type=submit]{
    width:120px;
    position: absolute;
    transform: translateY(14px);
    margin-right:100px;
    border-radius:20px;
    z-index:1;
}
hr.solid {
    border-top: 0.5px solid #cdcdcd;
  }
.copy-right{
  text-align: center;
    color: rgb(161, 145, 145);
    padding:10px;
}
/*Footer end*/